* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 15%;
}

.container .content-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container .content-main .main {
  background-image: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: 100px;
}
.container .content-main .main h4 {
  text-align: justify;
  width: 500px;
  font-size: 1.5em;
}

.container .content-main .main h5 {
  font-weight: 700;
  color: rgb(201, 201, 201);
}

.bolder {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}

.container .content-main .main2 {
  position: relative;
}

.container .content-main .main2 .background img {
  max-width: 400px;
  position: absolute;
  top: -50px;
  z-index: -1;
}

.container .content-main .main2 img {
  max-width: 300px;
}

.container .content-main .main2 .slide {
  display: flex;
}

.container .content-main .main2 .slide .before {
  width: 40px;
  background-color: rgb(206, 206, 206);
  padding: 5px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  cursor: pointer;
}

.container .content-main .main2 .slide .next {
  width: 20px;
  background-color: rgb(206, 206, 206);
  padding: 5px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .container .content-main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container .content-main .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container .content-main .main h4 {
    width: 250px;
    text-align: center;
  }

  .container .content-main .main h5 {
    font-size: 0.9em;
    text-align: center;
  }
  .container .content-main .main h5 .bolder {
    display: block;
  }

  .container .content-main .main2 {
    order: -1;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .container .content-main .main2 .background img {
    right: 10%;
    max-width: 400px;
  }

  .container .content-main .main2 .slide {
    margin-left: 30%;
  }
}

@media (max-width: 768px) {
  .container .content-main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container .content-main .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container .content-main .main h4,
  h5 {
    text-align: center;
  }

  .container .content-main .main h5 .bolder {
    display: block;
  }
  .container .content-main .main2 {
    order: -1;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .container .content-main .main2 .slide {
    margin-left: 30%;
  }
}
